@mixin header_light {
	box-shadow: 0 2px 15px black(0.08);
	background: #fff;

	.site-logo {
		// Type
		color: map-get($ui-colors, 2);
	}

	.site-menu__link {
		// Type
		color: map-get($ui-colors, 2_2);
	}

	.toggle-menu__line {
		background: map-get($ui-colors, 2);
	}
}

//---- PX to REM
@mixin rem($pixels) {
	font-size: $pixels;
	font-size: rem-calculate($pixels);

	// Dependency: rem-calculate() in _functions.scss
}

//---- Flexbox center
@mixin flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
