//---- Typography
$font-1 : (
	family : ('Rubik', 'Arial', sans-serif),
	weights : (
		light   : 300,
		regular : 400,
		medium  : 500
	)
);

$base-text-size : 16px;
$base-text-color : #5e5e5e;

//---- Sections
$sections : (
	small  : 1000px,
	medium : 1250px,
	large  : 1500px
);

$site-width         : 92%;
$site-spacing-outer : (100 - $site-width) / 2;


//---- Spacing
$spacing-1 : (
	small  : 40px,
	medium : 80px,
	large  : 160px,
	huge   : 200px
);

//---- Colors
$ui-colors: (
	'1'   : #4b6cc1,
	'2'   : #1f1f1f,
	'2-1' : #f1f1f1
);
