//---- Typography
$font-1 : (
	family : ('Rubik', 'Arial', sans-serif),
	weights : (
		light   : 300,
		regular : 400,
		medium  : 500
	)
);

$base-text-size : 16px;

//---- Sections
$sections : (
	small  : 980px,
	medium : 1240px,
	large  : 1500px
);

$site-width         : 92%;
$site-spacing-outer : (100 - $site-width) / 2;

//---- Spacing
$spacing-1 : (
	small  : 40px,
	medium : 80px,
	large  : 160px,
	huge   : 200px
);

//---- Colors
$ui-colors: (
	1   : #4b6cc1,
	2   : #191a1d,
	2_1 : #f1f1f1,
	2_2 : #5e5e5e,
	2_3 : #ababab,
	2_4 : #919191
);

//---- Grid
$grid-cols            : 12;
$grid-spacing-px      : 60;
$grid-spacing-percent : 4%;

//---- Offsets
$header-height-dt: 125px;

//---- Other
$z-index :(
	1 : 900,
	2 : 800
);


$border-radius : 6px;
$transition-speed : 0.3s;
