.share {
	display: flex;
	align-items: center;
}

.share__item {
	margin: 0;
	list-style: none;

	a {
		@include flex_center();
		border-radius: $border-radius;

		svg {
			* {
				fill: #fff;
			}
		}
	}
}

.share__item--twitter a  { background: map-get($social-colors, twitter); }
.share__item--facebook a { background: map-get($social-colors, facebook); }
.share__item--google a   { background: map-get($social-colors, google); }
.share__item--linkedin a { background: map-get($social-colors, linkedin); }

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-3) + 1) {
	.share__item {
		&:not(:last-child) {
			margin-right: 30px;
		}

		a {
			width: 90px;
			height: 90px;

			svg {
				width: 28px;
				height: 28px;
			}
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-3)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.share__item {
		&:not(:last-child) {
			margin-right: 20px;
		}

		a {
			width: 70px;
			height: 70px;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.share__item {
		&:not(:last-child) {
			margin-right: 12px;
		}

		a {
			width: 60px;
			height: 60px;

			svg {
				width: 22px;
				height: 22px;
			}
		}
	}
}
