//---- Fonts
$fonts: (
	1 : (
		family   : ('IBM Plex Sans', sans-serif),
		light    : 300,
		medium   : 500,
		semibold : 600
	),
	2 : (
		family   : ('IBM Plex Sans Condensed', sans-serif),
		medium   : 500,
		semibold : 600
	),
	3 : (
		family : ('Kalam', cursive)
	)
);

$text-size-base : 16px; // Important: Don't change this

//---- Colors
$ui-color-1: #478ac8; // Blue
$ui-color-2: #1b1b1b; // Black / Grey
$ui-color-2-1: #b9b9b9;
$ui-color-2-2: #f6f6f6;
$ui-color-2-3: #c6c6c6;
$ui-color-2-4: #e5e5e5;
$ui-color-2-5: #919191;
$ui-color-2-6: #777777;
$ui-color-2-7: #ababab;
$ui-color-2-8: #ebebeb;
$ui-color-2-9: #f1f1f1;
$ui-color-2-10: #fafafa;
$ui-color-2-11: #e3e3e3;
$ui-color-2-12: #f5f5f5;

$text-color   : #474747;
$heading-color: #1b1b1b;

$social-colors: (
	twitter  : #55acee,
	facebook : #3b5998,
	google   : #dd4b39,
	linkedin : #0073b2,
	rss      : #ee802f
);

//---- Sections
$sections-desktop: (
	tiny   : 800px,
	small  : 900px,
	medium : 1110px,
	large  : 1400px,
	max    : 2000px
);

$sections-laptop: (
	tiny   : 800px,
	small  : 900px,
	medium : 1110px,
	large  : 1400px,
	max    : 2000px
);

//---- Spacing
$spacing-desktop: (
	mini   : 20px,
	tiny   : 45px,
	small  : 60px,
	medium : 100px,
	large  : 150px
);

$spacing-laptop: (
	mini   : 20px,
	tiny   : 45px,
	small  : 60px,
	medium : 100px,
	large  : 150px
);

$sections-percent: 92%;
$outer-spacing   : (100 - $sections-percent) / 2;
$grid-spacing    : 4.5%;
$grid-columns    : 12;

//---- Breakpoints
$breakpoints: (
	laptop-1 : 1920px,
	laptop-2 : 1440px,
	laptop-3 : 1280px,
	tablet-1 : 1024px,
	tablet-2 : 768px,
	mobile-1 : 670px,
	mobile-2 : 400px
);

//---- Other
$form-field-height: 55px;
$transition-speed : 0.25s;

$z-index: (
	1 : 900,
	2 : 800,
	3 : 700
);
