.accordion__item {
	background: $ui-color-2-2;

	& + & {
		margin-top: 2px;
	}

	&:first-child {
		border-radius: $border-radius $border-radius 0 0;
	}

	&:last-child {
		border-radius: 0 0 $border-radius $border-radius;
	}
}

.accordion__heading {
	@include rem(22px);
	@include flex(flex);
	@include flex_align_items(center);
	position: relative;
	cursor: pointer;
	// Type
	line-height: 120%;
	color: $ui-color-2-6;
}

.accordion__heading-txt {
	// Type
	line-height: 130%;

	&:before { content: open-quote; }
	&:after  { content: close-quote; }
}

.accordion__opener {
	position: absolute;
	border-radius: $border-radius;
	background: #fff;

	&:before,
	&:after {
		@include transition(all ease $transition-speed);
		position: absolute;
		content: '';
		border-radius: $border-radius;
		background: $ui-color-1;
	}
}

.accordion__item:hover,
.accordion__item.active {
	.accordion__heading {
		background: $ui-color-2-9;
	}
}

.accordion__item.active {
	.accordion__opener {
		&:before,
		&:after {
			@include transform(rotate(90deg));
		}

		&:after {
			opacity: 0;
		}
	}
}

.accordion__content {
	display: none;
	background: $ui-color-2-9;
	@extend .post-styles;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.accordion__heading {
		@include rem(22px);
		min-height: 100px;
		padding: 30px;
	}

	.accordion__opener {
		width: 40px;
		height: 40px;
		top: 30px;
		right: 30px;

		&:before {
			width: 4px;
			height: 20px;
			top: 10px;
			left: 18px;
		}

		&:after {
			width: 20px;
			height: 4px;
			top: 18px;
			left: 10px;
		}
	}

	.accordion__content {
		padding: 0 30px 30px;
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.accordion__heading {
		@include rem(18px);
		min-height: 70px;
		padding: 20px 70px 20px 20px;
	}

	.accordion__opener {
		width: 30px;
		height: 30px;
		top: 20px;
		right: 20px;

		&:before {
			width: 4px;
			height: 16px;
			top: 7px;
			left: 13px;
		}

		&:after {
			width: 16px;
			height: 4px;
			top: 13px;
			left: 7px;
		}
	}

	.accordion__content {
		padding: 0 20px 20px;
	}
}
