.blog-preview__thumb {
	img {
		@extend .img-full;
	}
}

.blog-preview__content {
	width: calc(100% - 120px);
	margin-top: -60px;
	margin-left: 60px;
	padding: 100px 120px;
	position: relative;
	background: $ui-color-2-12;
	// Type
	text-align: center;

	p:not(.meta) {
		@include rem(24px);
		// Type
		line-height: 24px * 1.25;
	}

	p + p {
		margin-top: 20px;
	}
}

.blog-preview__meta {
	@include rem(28px);
	// Type
	line-height: 28px * 1.25;
	color: $ui-color-2-7;

	a {
		// Type
		color: $ui-color-1;
	}
}

* + .blog-preview__meta {
	margin-top: 30px;
}

.blog-preview__meta-sep {
	margin-left: 10px;
	margin-right: 10px;
}
