.blog-preview__thumb {
	a {
		display: block;
	}

	img {
		@extend .img-full;
	}
}

.blog-preview__content {
	position: relative;
	background: $ui-color-2-12;
	// Type
	text-align: center;

	p:not(.meta) {
		@extend .txt-large;
		// Type
		line-height: 24px * 1.25;
	}

	p + p {
		margin-top: 20px;
	}
}

.blog-preview__meta {
	@extend .txt-large;
	// Type
	line-height: 28px * 1.25;
	color: $ui-color-2-7;

	a {
		// Type
		color: $ui-color-1;
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.blog-preview__content {
		width: calc(100% - 120px);
		margin-top: -60px;
		margin-left: 60px;
		padding: 100px 120px;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.blog-preview__content {
		width: calc(100% - 80px);
		margin-top: -40px;
		margin-left: 40px;
		padding: 60px 80px;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.blog-preview__content {
		width: calc(100% - 80px);
		margin-top: -40px;
		margin-left: 40px;
		padding: 60px;
	}
}

@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) {
	* + .blog-preview__meta {
		margin-top: 30px;
	}

	.blog-preview__meta-sep {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.blog-preview__content {
		width: 100%;
		padding: 30px;
	}

	* + .blog-preview__meta {
		margin-top: 20px;
	}

	.blog-preview__meta-sep {
		margin-left: 5px;
		margin-right: 5px;
	}
}
