.icon-list__item.icon-list__item {
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.icon-list__item {
	@include rem(16px);
	@include flex(flex);
	@include flex_align_items(center);
	min-height: 20px;
	list-style: none;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 0 50%;
	// Type
	font-weight: map-get(map-get($fonts, 2), semibold);
	text-transform: uppercase;
	color: $ui-color-2-7;
}

[class*="icon-list__item--"] {
	padding-left: 30px;
}

.icon-list__item--pencil {
	background-image: image-url('icons/pencil.svg');
}

.icon-list__item--design {
	background-image: image-url('icons/design.svg');
}

.icon-list__item--code {
	background-image: image-url('icons/code.svg');
}
