.icon-list__item.icon-list__item {
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 18px;
	}
}

.icon-list__item {
	@include flex(flex);
	@include flex_align_items(center);
	min-height: 22px;
	list-style: none;
	background-repeat: no-repeat;
	background-size: 22px;
	background-position: 0 50%;
	// Type
	font-weight: map-get(map-get($fonts, 2), semibold);
	text-transform: uppercase;
	color: $ui-color-2-7;
}

[class*="icon-list__item--"] {
	padding-left: 30px;
}

.icon-list__item--pencil {
	background-image: image-url('icons/pencil.svg');
}

.icon-list__item--design {
	background-image: image-url('icons/design.svg');
}

.icon-list__item--code {
	background-image: image-url('icons/code.svg');
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	.icon-list__item {
		@include rem(18px);
	}
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) {
	.icon-list__item {
		@include rem(16px);
	}
}
