.pagination {
	@include flex_center();
}

.pagination__item {
	@extend .btn;
}

.pagination__item--disabled {
	opacity: 0.5;
	cursor: default;
	border-color: #ccc;
	background: #ccc;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.pagination__item {
		min-width: 133px;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.pagination {
		@include flex_direction(column);
	}

	.pagination__item {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
