.pagination {
	@include flex_center();
}

.pagination__item {
	@extend %remove-text;
	width: 50px;
	height: 50px;
	display: block;
	background: $ui-color-2-12;

	&:not(:last-child) {
		margin-right: 10px;
	}
}
