.pagination {
	@include flex_center();
}

.pagination__item {
	@extend .btn;
	min-width: 133px;

	&:not(:last-child) {
		margin-right: 20px;
	}
}

.pagination__item--disabled {
	opacity: 0.5;
	cursor: default;
	border-color: #ccc;
	background: #ccc;
}

