.previews {
	position: relative;
}

.preview__bar {
	@include flex(flex);
	@include flex_align_items(center);
	padding: 10px;
	border-radius: 5px 5px 0 0;
	background: $ui-color-2-8;

	span {
		border-radius: 1000px;

		&:nth-child(1) { background: #ff564f; }
		&:nth-child(2) { background: #ffb429; }
		&:nth-child(3) { background: #24c339; }
	}
}

.preview__window {
	border: 5px solid $ui-color-2-8;
	border-top: none;

	img {
		@extend .img-full;
	}
}

.preview--desktop {
	max-width: 740px;
	margin-right: 40px;
}

.preview--mobile {
	max-width: 255px;

	.preview__bar {
		background: $ui-color-2-9;
	}

	.preview__window {
		border-color: $ui-color-2-9;
	}
}

.previews--float {
	.preview--mobile {
		position: absolute;
		bottom: -40px;
		right: 0;
	}
}

.previews--grid {
	@include flex(flex);
	@include flex_wrap(wrap);

	.preview--tablet,
	.preview--mobile {
		margin-top: 60px;
	}

	.preview--tablet {
		width: 65%;
	}

	.preview--mobile {
		width: 28.33%;
		max-width: none;
		margin-left: auto;
	}
}

//---- Responsive ----//
@media screen and (max-width: map-get($breakpoints, tablet-1)) {
	.previews--float {
		.preview--mobile {
			display: none;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.previews--float {
		.preview {
			width: 100%;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, mobile-1)) {
	.preview__bar {
		height: 40px;

		span {
			width: 12px;
			height: 12px;

			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.preview__bar {
		height: 30px;

		span {
			width: 8px;
			height: 8px;

			&:not(:last-child) {
				margin-right: 3px;
			}
		}
	}
}
