.service {
	@include flex(flex);
}

.service__left {
	@include flex_shrink(0);
}

.service__right {
	@include flex_align_self(center);
	width: 100%;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	.service__right {
		padding-left: 100px;
	}
}


@media screen and (max-width: map-get($breakpoints, laptop-1)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.service__right {
		padding-left: 80px;
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.service {
		@include flex_direction(column);
		// Type
		text-align: center;
	}

	.service__left {
		padding-bottom: 25px;
	}
}
