.testimonial {
	margin-bottom: -2px;
	position: relative;
	background: $ui-color-1 image-url('bg-pattern.gif') 0 0 / 400px;
}

.testimonial__inner {
	@extend .section;
	@extend .section--tiny;
	@extend .spacing-large;

	blockquote {
		// Type
		text-align: center;

		p {
			// Type
			font-weight: map-get(map-get($fonts, 1), light);
			font-style: italic;
			color: #fff;

			&:before { content: open-quote; }
			&:after { content: close-quote; }
		}

		cite {
			@include flex_center();
			// Type
			font-style: normal;

			img {
				width: 55px;
				margin-right: 20px;
				border-radius: 1000px;
			}

			span {
				// Type
				color: white(0.5);
			}
		}
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	.testimonial__inner {
		blockquote {
			p {
				@include rem(34px);
				// Type
				line-height: 34px * 1.3;
			}

			cite {
				margin-top: 60px;

				span {
					@include rem(22px);
				}
			}
		}
	}
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) {
	.testimonial__inner {
		blockquote {
			p {
				@include rem(26px);
				// Type
				line-height: 26px * 1.3;
			}

			cite {
				margin-top: 40px;

				span {
					@include rem(20px);
				}
			}
		}
	}
}
