.page-home {
	.site-banner__inner {
		@include flex(flex);
		border-bottom: none;
	}

	.site-banner__img {
		img {
			@extend .img-full;
			max-width: 673px;
			border-radius: $border-radius;
		}
	}

	.site-banner__content {
		@include flex_align_self(center);
		@include flex_grow(1);
		// Type
		text-align: left;
	}
}


//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.page-home {
		.site-banner__img {
			@include flex_shrink(0);
			width: 42.06106870229008%;
			margin-right: 80px;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.page-home {
		.site-banner__img {
			width: 33.33%;
			margin-right: 60px;
		}

		.site-banner__content {
			width: 66.66%;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) {

}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.page-home {
		.site-banner__inner {
			@include flex_direction(column);
		}

		.site-banner__img {
			@include flex_order(2);
			margin-top: 30px;
		}
	}
}
