.site-banner__inner {
	@extend .section;
	@extend .section--large;
	@extend .spacing-large;
	border-bottom: 2px solid $ui-color-2-4;
	// Type
	text-align: center;
}

.site-banner__content {
	@extend .section;
	@extend .section--small;
	@extend .section--full;
}

.site-banner__subtitle {
	@extend .h3;
	// Type
	color: $ui-color-2-3;

	* + & {
		margin-top: 30px;
	}
}

.site-banner__txt {
	@include rem(24px);
	// Type
	line-height: 24px * 1.25;

	* + & {
		margin-top: 20px;
	}
}
