.site-banner__inner {
	@extend .section;
	@extend .section--large;
	@extend .spacing-large;
	border-bottom: 2px solid $ui-color-2-4;
	// Type
	text-align: center;
}

.site-banner__content {
	@extend .section;
	@extend .section--small;
	@extend .section--full;
}

.site-banner__subtitle {
	@extend .h3;
	// Type
	font-weight: map-get(map-get($fonts, 2), medium);
	color: $ui-color-2-3;
}

.site-banner__txt {
	@extend .txt-medium;
}

.site-banner__notice {
	@include flex(inline-flex);
	border-radius: $border-radius;
	background: $ui-color-2-2;
	// Type
	font-family: map-get(map-get($fonts, 2), family);
	font-weight: map-get(map-get($fonts, 2), semibold);
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $ui-color-1;
}

.site-banner__actions {
	@include flex(inline-flex);
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {

}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, mobile-1) + 1) {

}

@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.site-banner__subtitle {
		* + & {
			margin-top: 30px;
		}
	}

	.site-banner__txt {
		// Type
		line-height: 28px * 1.25;

		* + & {
			margin-top: 20px;
		}
	}

	* + .site-banner__actions,
	.site-banner__notice {
		margin-top: 40px;
	}

	.site-banner__notice {
		@include rem(20px);
		padding: 30px 40px;
	}

	.site-banner__actions {
		.btn {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.site-banner__subtitle {
		* + & {
			margin-top: 20px;
		}
	}

	.site-banner__txt {
		// Type
		line-height: 24px * 1.25;

		* + & {
			margin-top: 10px;
		}
	}

	* + .site-banner__actions,
	.site-banner__notice {
		margin-top: 30px;
	}

	.site-banner__notice {
		@include rem(16px);
		padding: 20px 30px;
	}

	.site-banner__actions {
		@include flex_direction(column);
		width: 100%;

		.btn {
			width: 100%;

			&:last-child {
				margin-top: 10px;
			}
		}
	}
}
