.site-footer {
	@extend .section;
	@extend .section--large;
	@extend .spacing-tiny;
	@extend .spacer-top;
	@include flex(flex);
	@include flex_align_items(center);
}

.site-footer__section--txt {
	p {
		// Type
		color: $ui-color-2-5;
	}
}

.site-footer-menu {
	@include flex(flex);
	@include flex_align_items(center);
}

.site-footer-menu__item {
	// Type
	color: $ui-color-2-5;

	&:not(:last-child) {
		&:after {
			content: '-';
		}
	}
}

.site-footer-menu__item.active {
	// Type
	color: $ui-color-2;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.site-footer__section--txt p,
	.site-footer-menu__item {
		@include rem(18px);
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-footer__section--txt p,
	.site-footer-menu__item {
		@include rem(16px);
	}
}

@media screen and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-footer__section--menu {
		margin-left: auto;
	}

	.site-footer-menu__item {
		&:not(:last-child) {
			margin-right: 20px;

			&:after {
				margin-left: 25px;
			}
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.site-footer {
		@include flex_direction(column);
		// Type
		text-align: center;
	}

	.site-footer__section--menu {
		margin-top: 15px;
	}

	.site-footer__section--txt p,
	.site-footer-menu__item {
		@include rem(14px);
	}

	.site-footer-menu__item + .site-footer-menu__item {
		margin-top: 5px;
	}

	.site-footer-menu__item {
		&:not(:last-child) {
			margin-right: 5px;

			&:after {
				margin-left: 10px;
			}
		}
	}
}
