.site-header__inner {
	@extend .section;
	@extend .section--large;
	@include flex(flex);
	position: relative;
	border-radius: 0 0 0 $border-radius;
}

.site-header__section--logo {
	@include flex_shrink(0);
}

.site-header__section--toggle-menu {
	@include flex_center();
	margin-left: auto;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-header {
		background: #fff;
	}

	.site-header__section--logo {
		margin-bottom: -1px;
	}

	.site-header__inner {
		border-bottom: 2px solid $ui-color-2;
	}

	.site-header__section--menu {
		@include flex_grow(1);
		@include flex_basis(0);
		@include flex_align_self(center);
	}

	.site-header__section--toggle-menu {
		display: none;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.site-header {
		background: $ui-color-2;
	}

	.site-header__inner {
		@include flex_wrap(wrap);
	}

	.site-header__section--toggle-menu {
		height: 70px;
	}

	.site-header__section--menu {
		width: 100%;
		display: none;
	}
}
