.site-logo {
	@include flex_center();
	background: $ui-color-2;
	// Type
	text-align: center;
}

.site-logo__txt {
	// Type
	font-family: map-get(map-get($fonts, 3), family);
	color: #fff;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.site-logo {
		width: 120px;
		height: 120px;
	}

	.site-logo__txt {
		@include rem(40px);
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-logo {
		width: 100px;
		height: 100px;
	}

	.site-logo__txt {
		@include rem(34px);
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.site-logo {
		height: 70px;
	}

	.site-logo__txt {
		@include rem(32px);
	}
}

