.site-menu__inner {
	@include flex(flex);
}

.site-menu__item {
	list-style: none;
	// Type
	font-weight: map-get(map-get($fonts, 1), medium);
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.site-menu__item {
		@include rem(20px);
		margin-left: 85px;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-menu__item {
		@include rem(18px);
		margin-left: 55px;
	}
}

@media screen and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-menu__inner {
		@include flex_justify(flex-end);
	}

	.site-menu__item {
		position: relative;
		// Type
		color: $ui-color-2-1;

		&:before {
			@include transform(translateX(-50%));
			width: 10%;
			height: 4px;
			position: absolute;
			bottom: -20px;
			left: 50%;
			opacity: 0;
			pointer-events: none;
			content: '';
			border-radius: $border-radius;
			background: $ui-color-1;
		}
	}

	.site-menu__item.active {
		border-bottom-color: $ui-color-1;
		// Type
		color: $ui-color-2;

		&:before {
			width: 50%;
			opacity: 1;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.site-menu {
		width: 100%;
		background: $ui-color-2;
	}

	.site-menu__inner {
		@include flex_direction(column);
		@include flex_justify(center);
	}

	.site-menu__item {
		// Type
		text-align: center;
		color: white(0.5);
	}

	.site-menu__item.active {
		// Type
		color: #fff;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.site-menu {
		padding: 0 50px 50px;
	}

	.site-menu__item {
		@include rem(24px);

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.site-menu {
		padding: 0 40px 40px;
	}

	.site-menu__item {
		@include rem(20px);

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
