.site-banner__inner {
	@extend .section;
	@extend .section--large;
	@extend .spacing-large;
	border-bottom: 2px solid $ui-color-2-4;
	// Type
	text-align: center;
}

.site-banner__subtitle {
	@extend .h3;
	// Type
	color: $ui-color-2-3;

	* + & {
		margin-top: 30px;
	}
}
