.site-footer {
	@extend .section;
	@extend .section--large;
	@extend .spacing-tiny;
	@extend .spacer-top;
	@include flex(flex);
	@include flex_align_items(center);
}

.site-footer__section--txt {
	p {
		@include rem(18px);
		// Type
		color: $ui-color-2-5;
	}
}

.site-footer__section--menu {
	margin-left: auto;
}

.site-footer-menu {
	@include flex(flex);
	@include flex_align_items(center);
}

.site-footer-menu__item {
	@include rem(18px);
	// Type
	color: $ui-color-2-5;

	&:not(:last-child) {
		margin-right: 20px;

		&:after {
			margin-left: 25px;
			content: '-';
		}
	}
}
