.site-menu {
	.menu {
		@include flex(flex);
	}

	.menu-item {
		list-style: none;
		// Type
		font-weight: map-get(map-get($fonts, 2), medium);
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.site-menu {
		.menu-item {
			@include rem(22px);
			margin-left: 95px;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-menu {
		.menu-item {
			@include rem(20px);
			margin-left: 55px;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-menu {
		.menu {
			@include flex_justify(flex-end);
		}

		.menu-item,
		a {
			// Type
			color: $ui-color-2-1;
		}

		.current-menu-item a {
			// Type
			color: $ui-color-1;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.site-menu {
		width: 100%;
		padding: 50px;
		display: none;
		position: absolute;
		top: calc(100% + 2px);
		left: 0;
		background: $ui-color-2;

		.menu {
			@include flex_direction(column);
			@include flex_justify(center);
		}

		.menu-item,
		a {
			// Type
			color: white(0.5);
		}

		.menu-item {
			// Type
			text-align: center;
		}

		.current-menu-item a {
			// Type
			color: #fff;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.site-menu {
		padding: 50px;

		.menu-item {
			@include rem(24px);

			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.site-menu {
		padding: 40px;

		.menu-item {
			@include rem(20px);

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}
