.site-menu__inner {
	@include flex(flex);
}

.site-menu__item {
	list-style: none;
	// Type
	font-weight: map-get(map-get($fonts, 2), medium);
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	.site-menu__item {
		@include rem(22px);
		margin-left: 95px;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-menu__item {
		@include rem(20px);
		margin-left: 55px;
	}
}

@media screen and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.site-menu__inner {
		@include flex_justify(flex-end);
	}

	.site-menu__item {
		// Type
		color: $ui-color-2-1;
	}

	.site-menu__item.active a {
		// Type
		color: $ui-color-1;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.site-menu {
		width: 100%;
		padding: 50px;
		display: none;
		position: absolute;
		top: calc(100% + 2px);
		left: 0;
		background: $ui-color-2;
	}

	.site-menu__inner {
		@include flex_direction(column);
		@include flex_justify(center);
	}

	.site-menu__item {
		// Type
		text-align: center;
		color: white(0.5);
	}

	.site-menu__item.active a {
		// Type
		color: #fff;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.site-menu {
		padding: 50px;
	}

	.site-menu__item {
		@include rem(24px);

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.site-menu {
		padding: 40px;
	}

	.site-menu__item {
		@include rem(20px);

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
