.service {
	@extend %accent-box;
	padding: 10%;
}

.service__icon {
	@extend %line-bottom;
	display: inline-block;

	&:after {
		margin-right: auto;
		margin-left: auto;
	}

	svg {
		max-width: 52px;
		max-height: 52px;

		* {
			fill: map-get($ui-colors, 1);
		}
	}
}

.grid__col {
	.service {
		min-height: 100%;
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, mobile-1) + 1) {
	.service__icon {
		&:after {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	.service__icon {
		&:after {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}
