.full-service {
	@include flex(flex);
	padding: 10%;
	border-radius: $border-radius;
	border-top: 6px solid map-get($ui-colors, 1);
	background: map-get($ui-colors, 2_1);
}

.full-service__section--icon {
	width: calc_grid_cols(3);
}

.full-service__section--content {
	width: calc_grid_cols(9);
	margin-left: auto;
}

.full-service__icon {
	width: 60%;
	display: inline-block;

	svg {
		* {
			fill: map-get($ui-colors, 1);
		}
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop_1) + 1) {
	.full-service {
	}
}

@media screen and (max-width: map-get($breakpoints, laptop_1)) {
	.full-service {
	}
}
