.full-service {
	@extend %accent-box;
	@include flex(flex);
	padding: 10%;
}

.full-service__section--content {
	width: calc_grid_cols(9);
}

.full-service__icon {
	width: 60%;
	display: inline-block;

	svg {
		* {
			fill: map-get($ui-colors, 1);
		}
	}
}

//---- Responsive ----//
