.full-service {
	@extend %accent-box;
	@include flex(flex);
}

.full-service__icon {
	display: inline-block;

	svg {
		* {
			fill: map-get($ui-colors, 1);
		}
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	.full-service__icon {
		width: 60%;
	}
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) {
	.full-service__icon {
		width: 50%;
	}
}

@media screen and (min-width: map-get($breakpoints, tablet-3) + 1) {
	.full-service {
		padding: 10%;
	}
	
	.full-service__section--content {
		width: calc_grid_cols(9);
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-3)) {
	.full-service {
		padding: 8%;
	}
	
	.full-service__section--content {
		width: calc_grid_cols(11);
	}
}