.service {
	border-radius: $border-radius;
	border-top: 6px solid map-get($ui-colors, 1);
	background: map-get($ui-colors, 2_1);
}

.service__icon {
	@extend %line-bottom;
	display: inline-block;

	svg {
		* {
			fill: map-get($ui-colors, 1);
		}
	}
}

.grid__col {
	.service {
		min-height: 100%;
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop_1) + 1) {
	.service {
		padding: 75px 60px;
	}
}

@media screen and (max-width: map-get($breakpoints, laptop_1)) and (min-width: map-get($breakpoints, tablet_1) + 1) {
	.service {
		padding: 65px 40px;
	}
}

@media screen and (min-width: map-get($breakpoints, mobile_1) + 1) {
	.service__icon {
		svg {
			max-width: 52px;
			max-height: 52px;
		}

		&:after {
			margin-top: 40px;
			margin-bottom: 40px;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet_1)) and (min-width: map-get($breakpoints, mobile_1) + 1) {
	.service {
		@include flex(flex);
		padding: 60px;
		// Type
		text-align: left;
	}

	.service__icon {
		@include flex_shrink(0);
		@include flex_align_self(center);
		@include flex(flex);
		margin-right: 60px;

		svg {
			max-width: 110px;
			max-height: 110px;
		}

		&:after {
			display: none;
		}
	}
}
