.service {
	border-radius: $border-radius;
	border-top: 6px solid map-get($ui-colors, 1);
	background: map-get($ui-colors, 2_1);
}

.service__icon {
	@extend %line-bottom;
	display: inline-block;

	svg {
		max-width: 52px;
		max-height: 52px;

		* {
			fill: map-get($ui-colors, 1);
		}
	}

	&:after {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-right: auto;
		margin-left: auto;
	}
}

.grid__col {
	.service {
		min-height: 100%;
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop_1) + 1) {
	.service {
		padding: 75px 60px;
	}
}

@media screen and (max-width: map-get($breakpoints, laptop_1)) {
	.service {
		padding: 65px 40px;
	}
}
