{% assign banner_subtitle = false %}
{% assign banner_txt = false %}

{% if page.banner_title == false %}
	{% assign banner_title = page.banner_title %}
{% elsif page.layout != 'post' %}
	{% assign banner_title = page.title %}
{% endif %}

{% if page.banner_subtitle %}
	{% assign banner_subtitle = page.banner_subtitle %}
{% endif %}

{% if page.layout == 'project' %}
	{% for project_data in site.data.projects %}
		{% if project_data.title == page.title %}
			{% assign project = project_data %}
		{% endif %}
	{% endfor %}

	{% if project.excerpt %}
		{% assign banner_txt = project.excerpt %}
	{% endif %}
{% endif %}

{% if banner_title or page.banner_subtitle %}
	<section class="site-banner">
		<div class="site-banner__inner">
			<div class="site-banner__content anim anim-up anim-fade">
				{% if banner_title %}
					<h1 class="site-banner__title">
						{{ banner_title }}
					</h1>
				{% endif %}

				{% if banner_subtitle %}
					<h2 class="site-banner__subtitle">
						{{ banner_subtitle }}
					</h2>
				{% endif %}

				{% if banner_txt %}
					<p class="site-banner__txt">
						{{ banner_txt }}
					</p>
				{% endif %}

				{% if page.title == 'Contact' %}
					<p class="site-banner__notice">
						I'm Available!
					</p>
				{% endif %}

				{% if page.title == 'Calendi' %}
					<div class="site-banner__actions">
						<a class="btn" href="#" target="_blank">
							<span class="btn__inner">
								Download For Free
							</span>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
