			{% if page.layout != 'post' and page.layout != 'category' and  page.title != 'Contact' and page.title != 'Message Sent!' %}
				{% if page.quote_id %}
					{% assign quote_id = page.quote_id %}
				{% else %}
					{% assign quote_id = 1 %}
				{% endif %}

				<section class="testimonial">
					<div class="testimonial__inner">
						<blockquote>
							<p>{{ site.data.testimonials[quote_id].quote }}</p>
							<cite>
								<img src="{{ site.data.testimonials[quote_id].img_1x_url }}" srcset="{{ site.data.testimonials[quote_id].img_1x_url }} 1x, {{ site.data.testimonials[quote_id].img_2x_url }} 2x">
								<span>
									{{ site.data.testimonials[quote_id].by }}
								</span>
							</cite>
						</blockquote>
					</div>
				</section>
			{% endif %}

			{% if page.title != 'Contact' and page.title != 'Success' %}
				<section class="section section--large spacing-large txt-center spacer-top">
					<h2>
						Let's Work Together
					</h2>

					<br><br>

					<a class="btn" href="/contact/">
						Get in Touch
					</a>
				</section>
			{% endif %}

			<footer class="site-footer">
				<div class="site-footer__section site-footer__section--txt">
					<p>
						&copy; 2018 Seb Kay. All rights reserved.
					</p>
				</div>

				<div class="site-footer__section site-footer__section--menu">
					<nav class="site-footer-menu__inner">
						{% for menu-item in site.data.menu %}
							{% assign current-menu-item = false; %}

							{% assign menu-item-slug = menu-item.url | remove: '/' %}

							{% if page.url == menu-item.url or page.parent == menu-item-slug %}
								{% assign current-menu-item = 'active' %}
							{% endif %}
							<a class="site-footer-menu__item {{ current-menu-item }}" href="{{ menu-item.url }}">
								{{ menu-item.name }}
							</a>
						{% endfor %}
					</nav>
				</div>
			</footer>
		</div><!--end .page-wrap-->

		<script type="text/javascript" src="/assets/js/app.min.js"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31577987-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-31577987-1');
		</script>

		<!-- Hotjar Insights -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:5096,hjsv:5};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
	</body>
</html>
