<nav class="pagination">
	{% if paginate.previous.is_link %}
		<a class="pagination__item pagination__item--icon pagination__item--icon-left" href="{{ paginate.previous.url }}">
			Previous
		</a>
	{% endif %}

	{% for part in paginate.parts %}
		{% if part.is_link %}
			<a class="pagination__item pagination__item--link" href="{{ part.url }}">
				{% if part.title < 10 %}
					0{{ part.title }}
				{% else %}
					{{ part.title }}
				{% endif %}
			</a>
		{% else %}
			{% if part.title == '&hellip;' %}
				<span class="pagination__item pagination__item--txt">
					&hellip;
				</span>
			{% else %}
				<span class="pagination__item pagination__item--txt pagination__item--current">
					{% if part.title < 10 %}
						0{{ part.title }}
					{% else %}
						{{ part.title }}
					{% endif %}
				</span>
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if paginate.next.is_link %}
		<a class="pagination__item pagination__item--icon pagination__item--icon-right" href="{{ paginate.next.url }}">
			Next
		</a>
	{% endif %}
</nav>
