{% if project_class == 'project-preview--small' %}
	{% assign thumb_url           = project.thumbs.[0].small %}
	{% assign thumb_url_2x        = project.thumbs.[0].small_2x %}
	{% assign thumb_url_mobile    = project.thumbs.[0].small_mobile %}
	{% assign thumb_url_mobile_2x = project.thumbs.[0].small_mobile_2x %}
{% else %}
	{% assign thumb_url           = project.thumbs.[0].featured %}
	{% assign thumb_url_2x        = project.thumbs.[0].featured_2x %}
	{% assign thumb_url_mobile    = project.thumbs.[0].featured_mobile %}
	{% assign thumb_url_mobile_2x = project.thumbs.[0].featured_mobile_2x %}
{% endif %}

<article class="project-preview {{ project_class }}">
	<div class="project-preview__img">
		<figure class="overlap-img">
			<img src="https://placehold.it/855x760">
		</figure>
	</div>

	<div class="project-preview__content">
		<div class="content-styles">
			{% if project.title %}
				<h2>
					<a href="{{ project.url }}">
						{{ project.title }}
					</a>
				</h2>
			{% endif %}

			{% if project.excerpt %}
				{% if project_class == 'project-preview--small' %}
					<p>
						{{ project.excerpt }}
					</p>
				{% else %}
					<p class="txt-large">
						{{ project.excerpt }}
					</p>
				{% endif %}
			{% endif %}
		</div>

		{% if project_class != 'project-preview--small' %}
			{% if project.usps %}
				<div class="spacing-tiny-top">
					<ul class="icon-list">
						{% for usp in project.usps %}
							<li class="icon-list__item">
								<span class="icon-list__img">
									{{ site.data.svgs[0].[usp.icon] }}
								</span>
								{{ usp.title }}
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}

		{% if project_class != 'project-preview--small' %}
			{% if project.url %}
				<div class="spacing-tiny-top">
						<a class="btn" href="{{ project.url }}">
							View Case Study
						</a>
				</div>
			{% endif %}
		{% endif %}
	</div>
</article>
