.bg-grey {
	background-color: map-get($ui-colors, 2_1);
}

.bg-slanted {
	margin-top: -3.75%;
	margin-bottom: -3.75%;
	-webkit-clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0 92.5%);
	clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0 92.5%);
}
