.btn {
	@include rem(26px);
	padding: 24px 36px;
	display: inline-block;
	cursor: pointer;
	border-radius: 1000px;
	background: map-get($ui-colors, 1);
	// Type
	font-family: map-get($font-1, family);
	font-weight: map-get(map-get($font-1, weights), medium);
	color: #fff;
}

.btn--disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.btn--large {
	@include rem(32px);
	padding: 28px 56px;
}

//---- Responsive ----//
