.btn {
	padding: 24px 36px;
	display: inline-block;
	cursor: pointer;
	border-radius: 1000px;
	background: map-get($ui-colors, 1);
	// Type
	font-family: map-get($font-1, family);
	font-weight: map-get(map-get($font-1, weights), medium);
	color: #fff;
}

.btn--large {
	padding: 28px 56px;
}

.btn--disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop_1) + 1) {
	.btn {
		@include rem(26px);
	}

	.btn--large {
		@include rem(32px);
	}
}

@media screen and (max-width: map-get($breakpoints, laptop_1)) {
	.btn {
		@include rem(22px);
	}

	.btn--large {
		@include rem(26px);
	}
}
