.grid {
	@include flex(flex);
	@include flex_wrap(wrap);
}

.grid--reverse {
	@include flex_direction(row-reverse);
}

.grid__col--v-center {
	@include flex_align_self(center);
}

.grid__col--right {
	margin-left: auto;
}

.grid__col--left {
	margin-right: auto;
}

@for $i from 1 through $grid-cols {
	.grid:not(.grid--reverse) {
		.grid__col--#{$i} {
			width: calc_grid_cols($i);

			&:not(:nth-of-type(#{($grid-cols / $i)}n)):not(:last-child) {
				margin-right: $grid-spacing-percent;
			}
		}
	}

	.grid--reverse {
		.grid__col--#{$i} {
			width: calc_grid_cols($i);

			&:not(:nth-last-of-type(#{($grid-cols / $i)}n)):not(:last-child) {
				margin-left: $grid-spacing-percent;
			}
		}
	}
}

.grid--dev {
	& + & {
		margin-top: 80px;
	}

	.grid__col {
		background: #e2e2e2;
	}
}

@for $i from 1 through $grid-cols {
	.grid:not(.grid--reverse) {
		.grid__col--#{$i} {
			&:nth-of-type(1n+#{12 / $i + 1}) {
				margin-top: #{$grid-spacing-px}px;
			}
		}
	}

	.grid--reverse {
		.grid__col--#{$i} {
			&:nth-last-of-type(1n+#{12 / $i + 1}) {
				margin-top: #{$grid-spacing-px}px;
			}
		}
	}
}

//---- Responsive ----//
