.section {
	width: $site-width;
	margin-right: auto;
	margin-left: auto;
}

.section--full.section--full {
	width: 100%;
}

@each $section, $amount in $sections {
	.section--#{$section} {
		max-width: $amount;
	}
}

//---- Responsive ----//
