.section-title {
	@extend %txt-upper;
	@include rem(24px);
	padding-bottom: 15px;
	border-bottom: 4px solid map-get($ui-colors, 2_1);
	// Type
	color: map-get($ui-colors, 2_4);
}

.section-title__txt {
	// Type
	color: map-get($ui-colors, 2);
}
