//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	@each $spacing, $amount in $spacing-1 {
		.spacing-#{$spacing} {
			padding-top: $amount;
			padding-bottom: $amount;
		}
	
		.spacing-#{$spacing}-top    { padding-top: $amount; }
		.spacing-#{$spacing}-bottom { padding-bottom: $amount; }
	}
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) and (min-width: map-get($breakpoints, tablet-1) + 1) {
	@each $spacing, $amount in $spacing-2 {
		.spacing-#{$spacing} {
			padding-top: $amount;
			padding-bottom: $amount;
		}
	
		.spacing-#{$spacing}-top    { padding-top: $amount; }
		.spacing-#{$spacing}-bottom { padding-bottom: $amount; }
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	@each $spacing, $amount in $spacing-3 {
		.spacing-#{$spacing} {
			padding-top: $amount;
			padding-bottom: $amount;
		}
	
		.spacing-#{$spacing}-top    { padding-top: $amount; }
		.spacing-#{$spacing}-bottom { padding-bottom: $amount; }
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	@each $spacing, $amount in $spacing-4 {
		.spacing-#{$spacing} {
			padding-top: $amount;
			padding-bottom: $amount;
		}
	
		.spacing-#{$spacing}-top    { padding-top: $amount; }
		.spacing-#{$spacing}-bottom { padding-bottom: $amount; }
	}
}