body {
	// Type
	font-family: map-get($font-1, family);
	font-weight: map-get(map-get($font-1, weights), light);
	font-size: $base-text-size;
	color: map-get($ui-colors, 2_2);
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
	// Type
	font-weight: map-get(map-get($font-1, weights), regular);
	color: map-get($ui-colors, 2);
}

strong {
	// Type
	font-weight: map-get(map-get($font-1, weights), medium);
}

a {
	// Type
	text-decoration: none;
	color: map-get($ui-colors, 1);
}

.txt-large {
	@include rem(24px);
}

.txt-dark {
	// Type
	color: map-get($ui-colors, 2);
}

.txt-fade {
	// Type
	color: map-get($ui-colors, 2_3);
}

.txt-center {
	// Type
	text-align: center;
}

h1, .h1 { @include rem(72px); }
h2, .h2 { @include rem(52px); }
h3, .h3 { @include rem(40px); }
h4, .h4 { @include rem(34px); }
h5, .h5 { @include rem(28px); }
h6, .h6 { @include rem(22px); }

p, li { @include rem(20px); }
