body {
	// Type
	font-family: map-get($font-1, family);
	font-weight: map-get(map-get($font-1, weights), light);
	font-size: $base-text-size;
	color: map-get($ui-colors, 2_2);
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
	// Type
	font-weight: map-get(map-get($font-1, weights), regular);
	color: map-get($ui-colors, 2);
}

strong {
	// Type
	font-weight: map-get(map-get($font-1, weights), medium);
}

a {
	// Type
	text-decoration: none;
	color: map-get($ui-colors, 1);
}

.txt-dark      { color: map-get($ui-colors, 2); }
.txt-fade      { color: map-get($ui-colors, 2_3); }
.txt-fade-2    { color: map-get($ui-colors, 2_4); }
.txt-highlight { color: map-get($ui-colors, 1); }

.txt-left   { text-align: left; }
.txt-center { text-align: center; }
.txt-right  { text-align: right; }

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	h1, .h1 { @include rem(82px); }
	h2, .h2 { @include rem(62px); }
	h3, .h3 { @include rem(50px); }
	h4, .h4 { @include rem(40px); }
	h5, .h5 { @include rem(32px); }
	h6, .h6 { @include rem(26px); }
	
	p, li { @include rem(24px); }
	
	.txt-small { @include rem(20px); }
	.txt-large { @include rem(30px); }
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) and (min-width: map-get($breakpoints, tablet-1) + 1) {
	h1, .h1 { @include rem(72px); }
	h2, .h2 { @include rem(52px); }
	h3, .h3 { @include rem(42px); }
	h4, .h4 { @include rem(36px); }
	h5, .h5 { @include rem(30px); }
	h6, .h6 { @include rem(24px); }
	
	p, li { @include rem(22px); }
	
	.txt-small { @include rem(18px); }
	.txt-large { @include rem(26px); }
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	h1, .h1 { @include rem(62px); }
	h2, .h2 { @include rem(42px); }
	h3, .h3 { @include rem(36px); }
	h4, .h4 { @include rem(32px); }
	h5, .h5 { @include rem(26px); }
	h6, .h6 { @include rem(22px); }
	
	p, li { @include rem(20px); }
	
	.txt-small { @include rem(18px); }
	.txt-large { @include rem(24px); }
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	h1, .h1 { @include rem(42px); }
	h2, .h2 { @include rem(36px); }
	h3, .h3 { @include rem(32px); }
	h4, .h4 { @include rem(26px); }
	h5, .h5 { @include rem(22px); }
	h6, .h6 { @include rem(20px); }
	
	p, li { @include rem(18px); }
	
	.txt-small { @include rem(16px); }
	.txt-large { @include rem(20px); }

	.m-txt-left   { text-align: left; }
	.m-txt-center { text-align: center; }
	.m-txt-right  { text-align: right; }
}