body {
	// Type
	font-family: map-get($font-1, family);
	font-weight: map-get(map-get($font-1, weights), light);
	font-size: $base-text-size;
	color: map-get($ui-colors, 2_2);
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
	// Type
	font-weight: map-get(map-get($font-1, weights), regular);
	color: map-get($ui-colors, 2);
}

strong {
	// Type
	font-weight: map-get(map-get($font-1, weights), medium);
}

a {
	// Type
	text-decoration: none;
	color: map-get($ui-colors, 1);
}

.txt-dark      { color: map-get($ui-colors, 2); }
.txt-fade      { color: map-get($ui-colors, 2_3); }
.txt-highlight { color: map-get($ui-colors, 1); }

.txt-left   { text-align: left; }
.txt-center { text-align: center; }
.txt-right  { text-align: right; }

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop_1) + 1) {
	h1, .h1 { @include rem(88px); }
	h2, .h2 { @include rem(68px); }
	h3, .h3 { @include rem(52px); }
	h4, .h4 { @include rem(38px); }
	h5, .h5 { @include rem(26px); }
	h6, .h6 { @include rem(22px); }

	p, li { @include rem(24px); }

	.txt-small { @include rem(20px); }
	.txt-large { @include rem(30px); }
}

@media screen and (max-width: map-get($breakpoints, laptop_1)) {
	h1, .h1 { @include rem(72px); }
	h2, .h2 { @include rem(54px); }
	h3, .h3 { @include rem(42px); }
	h4, .h4 { @include rem(36px); }
	h5, .h5 { @include rem(22px); }
	h6, .h6 { @include rem(18px); }

	p, li { @include rem(24px); }

	.txt-small { @include rem(20px); }
	.txt-large { @include rem(28px); }
}
