//---- Sections
.section {
	width: $sections-percent;
	margin-right: auto;
	margin-left: auto;
}

.section--full.section--full {
	width: 100%;
}

//---- Page
.page-wrap {
	@extend .section;
	@extend .section--max;
	@extend .section--full;
	background: #fff;
}

//---- Spacer
.spacer-top {
	border-top: 2px solid $ui-color-2-4;
}

//---- Other
body.lock-scroll {
	overflow: hidden;
}

.img-full {
	width: 100%;
	display: block;
}

.google-map {
	width: 100%;
	height: 450px;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	//---- Sections
	@each $section-name, $amount in $sections-desktop {
		.section--#{$section-name} {
			max-width: $amount;
		}
	}

	//---- Spacing
	@each $spacing-name, $amount in $spacing-desktop {
		.spacing-#{$spacing-name} {
			padding-top: $amount;
			padding-bottom: $amount;
		}

		.spacing-#{$spacing-name}-top {
			padding-top: $amount;
		}

		.spacing-#{$spacing-name}-bottom {
			padding-bottom: $amount;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) {
	//---- Sections
	@each $section-name, $amount in $sections-laptop {
		.section--#{$section-name} {
			max-width: $amount;
		}
	}

	//---- Spacing
	@each $spacing-name, $amount in $spacing-laptop {
		.spacing-#{$spacing-name} {
			padding-top: $amount;
			padding-bottom: $amount;
		}

		.spacing-#{$spacing-name}-top {
			padding-top: $amount;
		}

		.spacing-#{$spacing-name}-bottom {
			padding-bottom: $amount;
		}
	}
}
