@import
	'base/variables',
	'base/functions',
	'base/mixins';

html,
body {
	height: 100%;
}

html {
	background: #fff;
}

body {
	background: none;
}

.attachment-img {
	@include flex(flex);
	@include flex_align_items(center);
	@include flex_justify(center);
	width: 100%;
	height: 100%;
}
