/*--------------------------------------------
---- Base
--------------------------------------------*/
@import
	'base/variables',
	'base/functions',
	'base/mixins',
	'base/extends';



/*--------------------------------------------
---- Components
--------------------------------------------*/
//---- Common
@import
	'components/common/reset',
	'components/common/typography',
	'components/common/tables',
	'components/common/forms',
	'components/common/buttons',
	'components/common/grid',
	'components/common/helpers';

//---- Global
@import
	'components/global/header',
	'components/global/logo',
	'components/global/toggle-menu',
	'components/global/menu',
	'components/global/banner',
	'components/global/footer';

//---- Third Party
@import
	'third-party/jcf',
	'third-party/gravity-forms',
	'third-party/bxslider',
	'third-party/woocommerce',
	'third-party/wp-admin-bar',
	'third-party/wp-gallery';

//---- Other
@import
	'components/other/modal',
	'components/other/post',
	'components/other/accordion',
	'components/other/testimonial',
	'components/other/icon-list',
	'components/other/previews',
	'components/other/blog-preview',
	'components/other/social';

//---- Interactions
@import
	'interactions',
	'transitions';



/*--------------------------------------------
---- DEV
--------------------------------------------*/
// @import 'DEV';


/*--------------------------------------------
---- General Styles
--------------------------------------------*/
html,
body {
	background: #eee;
}

hr {
	height: 1px;
	margin: 40px 0;
	display: block;
	clear: both;
	background: #ccc;
}

figure,
picture img {
	display: block;
}

img,
picture {
	max-width: 100%;
	height: auto;
}

svg {
	width: 100%;
	height: auto;
	display: block;
	overflow: visible;
}
