/*--------------------------------------------
---- Base
--------------------------------------------*/
@import
	'base/variables',
	'base/functions',
	'base/mixins',
	'base/extends';



/*--------------------------------------------
---- Components
--------------------------------------------*/
//---- Common
@import
	'components/common/reset',
	'components/common/typography',
	'components/common/tables',
	'components/common/forms',
	'components/common/buttons',
	'components/common/grid',
	'components/common/helpers';

//---- Global
@import
	'components/global/header',
	'components/global/logo',
	'components/global/toggle-menu',
	'components/global/menu',
	'components/global/banner',
	'components/global/footer';

//---- Third Party
@import
	'third-party/jcf';

//---- Other
@import
	'components/other/modal',
	'components/other/post',
	'components/other/accordion',
	'components/other/testimonial',
	'components/other/icon-list',
	'components/other/previews',
	'components/other/blog-preview',
	'components/other/pagination',
	'components/other/social',
	'components/other/share',
	'components/other/service';



/*--------------------------------------------
---- Interactions
--------------------------------------------*/
@import
	'interactions',
	'transitions',
	'animations';



/*--------------------------------------------
---- Template
--------------------------------------------*/
@import
	'templates/home',
	'templates/success';



/*--------------------------------------------
---- General Styles
--------------------------------------------*/
html,
body {
	background: #eee;
}

hr {
	height: 1px;
	display: block;
	clear: both;
	background: #ccc;
}

figure,
picture img {
	display: block;
}

img,
picture {
	max-width: 100%;
	height: auto;
}

img {
	border-radius: $border-radius;
}

svg {
	width: 100%;
	height: auto;
	display: block;
	overflow: visible;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	hr,
	.post-styles hr {
		margin: map-get($spacing-desktop, medium) 0;
	}
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) and (min-width: map-get($breakpoints, tablet-1) + 1) {
	hr,
	.post-styles hr {
		margin: map-get($spacing-laptop, medium) 0;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	hr,
	.post-styles hr {
		margin: map-get($spacing-tb1, medium) 0;
	}
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	hr,
	.post-styles hr {
		margin: map-get($spacing-mobile, medium) 0;
	}
}
