@include form_inputs {
	@extend %form-field-base;
	padding-left: 15px;
	padding-right: 15px;

	&::-moz-placeholder {
		opacity: 1;
		// Type
		font-style: normal;
		color: #888;
	}

	&::-webkit-input-placeholder {
		// Type
		font-style: normal;
		color: #888;
	}
}

input[type="submit"],
button {
	@extend .btn;
}

input,
textarea,
button {
	border-radius: 0;
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

textarea {
	min-height: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
	resize: vertical;
	// Type
	line-height: 150%;
}

label {
	display: block;
}

//---- Stylised
.form__inner {
	@include flex(flex);
	@include flex_wrap(wrap);
}

.form__item:not(.form__field--full) {
	@include calc_grid_col(6);

	&:nth-child(2n) {
		margin-left: auto;
	}

	&:nth-child(1n+3) {
		margin-top: 40px;
	}
}

.form__item--full.form__item--full {
	width: 100%;
}

.form__label {
	margin-bottom: 10px;
	display: block;
	// Type
	font-weight: map-get(map-get($fonts, 2), semibold);
	text-transform: uppercase;
	color: $ui-color-2;
}

.form__action {
	width: 100%;
	margin-top: 40px;
	// Type
	text-align: center;
}
