.grid {
	@include flex(flex);
	@include flex_wrap(wrap);
}

@for $i from 1 through $grid-columns {
	.grid__col--#{$i} {
		width: (100% / $grid-columns * $i);
	}

	.grid--spaced:not(.grid--reverse) {
		.grid__col--#{$i} {
			@include calc_grid_col($i);

			&:not(:last-of-type) {
				margin-right: $grid-spacing;
			}
		}
	}

	.grid--spaced.grid--reverse {
		.grid__col--#{$i} {
			@include calc_grid_col($i);

			&:not(:first-of-type) {
				margin-right: $grid-spacing;
			}
		}
	}
}

//---- Spaced
@for $i from 1 through 6 {
	@if $i != 5 {
		.grid--spaced-#{$i} {
			.grid__col {
				&:nth-of-type(#{($grid-columns / $i)}n) {
					margin-right: 0;
				}
			}
		}
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-2) + 1) {
	.grid--reverse {
		@include flex_direction(row-reverse);
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-2)) {
	.grid--tb2--1 {
		.grid__col.grid__col {
			width: 100%;
			margin-right: 0 !important;
		}

		.grid__col + .grid__col {
			margin-top: 50px;
		}
	}
}
