table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: separate;
	// Type
	text-align: left;
}

th,
td {
	padding: 20px 15px;
}

th {
	background: $ui-color-2-2;
	// Type
	font-weight: map-get(map-get($fonts, 1), bold);
}

td {
	border-bottom: 2px solid $ui-color-2-2;
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet-1) + 1) {
	th,
	td {
		@include rem(20px);
	}
}

@media screen and (max-width: map-get($breakpoints, tablet-1) ) {
	th,
	td {
		@include rem(18px);
	}
}
