body { font-family: map-get(map-get($fonts, 1), family); font-weight: map-get(map-get($fonts, 1), light); font-size: $text-size-base; color: $text-color; }

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a { color: $heading-color; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: map-get(map-get($fonts, 2), family); font-weight: map-get(map-get($fonts, 2), semibold); }

strong  { font-weight: map-get(map-get($fonts, 1), semibold); }
em      { font-style: italic; }
a       { color: $text-color; text-decoration: none; position: relative; }

address { font-style: normal; }

.txt-left   { text-align: left; }
.txt-center { text-align: center; }
.txt-right  { text-align: right; }

.txt-highlight { color: $ui-color-1; }

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop-1) + 1) {
	h1, .h1 { @include rem(72px); }
	h2, .h2 { @include rem(58px); }
	h3, .h3 { @include rem(46px); }
	h4, .h4 { @include rem(36px); }
	h5, .h5 { @include rem(30px); }
	h6, .h6 { @include rem(24px); }

	.txt-large  { @include rem(28px); }
	.txt-medium { @include rem(24px); }

	p,
	li,
	address { @include rem(22px); }
}

@media screen and (max-width: map-get($breakpoints, laptop-1)) and (min-width: map-get($breakpoints, tablet-1) + 1) {
	h1, .h1 { @include rem(62px); }
	h2, .h2 { @include rem(46px); }
	h3, .h3 { @include rem(38px); }
	h4, .h4 { @include rem(32px); }
	h5, .h5 { @include rem(24px); }
	h6, .h6 { @include rem(20px); }

	.txt-large  { @include rem(24px); }
	.txt-medium { @include rem(22px); }

	p,
	li,
	address { @include rem(20px); }
}

@media screen and (max-width: map-get($breakpoints, tablet-1)) and (min-width: map-get($breakpoints, mobile-1) + 1) {
	h1, .h1 { @include rem(56px); }
	h2, .h2 { @include rem(42px); }
	h3, .h3 { @include rem(30px); }
	h4, .h4 { @include rem(24px); }
	h5, .h5 { @include rem(20px); }
	h6, .h6 { @include rem(18px); }

	.txt-large  { @include rem(22px); }
	.txt-medium { @include rem(20px); }

	p,
	li,
	address { @include rem(18px); }
}

@media screen and (max-width: map-get($breakpoints, mobile-1)) {
	h1, .h1 { @include rem(36px); }
	h2, .h2 { @include rem(30px); }
	h3, .h3 { @include rem(24px); }
	h4, .h4 { @include rem(20px); }
	h5, .h5 { @include rem(18px); }
	h6, .h6 { @include rem(16px); }

	.txt-large  { @include rem(18px); }
	.txt-medium { @include rem(16px); }

	p,
	li,
	address { @include rem(16px); }
}
