@import
	'../base/variables',
	'../base/functions',
	'../base/mixins';

#tinymce.wp-editor {
	padding: 10px !important;
	letter-spacing: 0.25px;

	h1, h2, h3, h4, h5, h6 {
		// Type
		font-family: map-get(map-get($fonts, 2), family);
	}

	h1 { @include rem(62px); }
	h2 { @include rem(42px); }
	h3 { @include rem(32px); }
	h4 { @include rem(26px); }
	h5 { @include rem(22px); }
	h6 { @include rem(18px); }

	p, li, th, td {
		// Type
		font-family: map-get(map-get($fonts, 1), family);
		font-size: 16px;
	}

	p + *,
	* + p {
		margin-top: 25px;
	}

	.txt-large {
		@include rem(20px);
	}

	a {
		border-bottom: 1px solid #000;
		display: inline-block;
		text-decoration: none;
		// Type
		color: #000;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	blockquote {
		// Styles
	}

	hr {
		height: 1px;
		margin: 40px 0;
		display: block;
		clear: both;
		border: none;
		background: $ui-color-1;
	}

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: separate;
		// Type
		text-align: left;
	}

	th,
	td {
		padding: 18px 15px;
	}

	th {
		background: #eee;
		// Type
		font-weight:map-get(map-get($fonts, 1), bold);
	}

	td {
		border-bottom: 1px solid #ccc;
	}
}
