@import
	'../base/variables',
	'../base/functions',
	'../base/mixins',
	'../components/common/reset';

html,
body {
	background: #eee;
}

body.login {
	h1 {
		a {
			width: 100%;
			height: 68px;
			margin-bottom: 30px;
			background: url('../img/logo.svg') center / 150px no-repeat;
		}
	}

	.message,
	#login_error {
		box-shadow: none;
	}

	form {
		padding: 30px;
		box-shadow: none;
	}

	label[for="user_login"],
	label[for="user_pass"] {
		// Type
		font-weight: bold;
	}

	.input,
	input[type="checkbox"] {
		@include transition(border ease $transition-speed);
		box-shadow: none;
		border-color: #e2e2e2;

		&:hover,
		&:focus,
		&:active {
			border-color: #ccc;
		}
	}

	.input {
		@include rem(16px);
		height: 40px;
		margin-top: 8px;
		padding-left: 10px;
		padding-right: 10px;
		// Type
		font-weight: normal;
	}

	input[type="checkbox"] {
		&:before {
			// Type
			color: $ui-color-1;
		}
	}

	.button-primary.button-primary {
		@include rem(16px);
		@include transition(opacity ease $transition-speed);
		height: auto;
		padding: 11px 20px 13px;
		box-shadow: none;
		border: none;
		background: $ui-color-1;
		// Type
		font-weight: bold;
		text-shadow: none;
		line-height: 100%;

		&:hover {
			opacity: 0.8;
		}
	}

	.forgetmenot {
		margin-top: 10px;
	}

	#backtoblog a,
	#nav a {
		@include transition(color ease 0.25s);

		&:hover {
			// Type
			color: $ui-color-1;
		}
	}
}
