.project-preview {
	@include flex(flex);
}

.project-preview__img {
	img {
		width: 100%;
		display: block;
	}
}

.project-preview__content {
	@include flex_align_self(center);
	margin-left: auto;
}

//---- Small version
.project-preview--small {
	@include flex_direction(column);

	.project-preview__img,
	.project-preview__content {
		width: 100%;
	}

	.project-preview__content {
		// Type
		text-align: center;

		h2 {
			@extend .h4;
		}

		* + .btn {
			margin-top: 20px;
		}
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, tablet_1) + 1) {
	.project-preview__img {
		width: calc_grid_cols(7);
	}

	.project-preview__content {
		width: calc_grid_cols(5);
	}

	//---- Small version
	.project-preview--small {
		.project-preview__content {
			padding: 40px 20px 0;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, tablet_1)) and (min-width: map-get($breakpoints, mobile_1) + 1) {
	.project-preview__img,
	.project-preview__content {
		width: calc_grid_cols(6);
	}

	//---- Small version
	.project-preview--small {
		.project-preview__content {
			padding-top: 30px;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, mobile_1)) {
	.project-preview {
		@include flex_direction(column);
		// Type
		text-align: center;
	}

	.project-preview__img,
	.project-preview__content {
		width: 100%;
	}

	.project-preview__content {
		padding-top: 30px;
	}
}
