.project-preview {
	@include flex(flex);
}

.project-preview__img {
	width: 60.66666666666667%;
}

.project-preview__content {
	@include flex_align_self(center);
	width: 34.66666666666667%;
	margin-left: auto;
}
