.big-icon {
	width: 100%;
	display: block;
	position: relative;
	border-radius: 1000px;
	background: map-get($ui-colors, 2_1);

	svg {
		@include transform(translate(-50%, -50%));
		width: 25%;
		position: absolute;
		top: 50%;
		left: 50%;

		* {
			fill: map-get($ui-colors, 1);
		}
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, mobile_1) + 1) {
	.big-icon {
		max-width: 260px;
		padding-bottom: 100%;
	}
}

@media screen and (max-width: map-get($breakpoints, mobile_1)) {
	.big-icon {
		width: 150px;
		height: 150px;
	}
}
