.big-icon {
	width: 250px;
	height: 250px;
	display: inline-block;
	position: relative;
	border-radius: 1000px;
	background: map-get($ui-colors, 2_1);

	svg {
		@include transform(translate(-50%, -50%));
		width: 25%;
		position: absolute;
		top: 50%;
		left: 50%;

		* {
			fill: map-get($ui-colors, 1);
		}
	}
}

//---- Responsive ----//
