.content-styles {
	* + * {
		margin-top: 30px;
	}

	* + p,
	li + li {
		margin-top: 30px;
	}

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: 50px;
	}

	* + hr,
	hr + * {
		margin-top: 100px;
	}

	* + .grid__col.grid__col {
		margin-top: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		// Type
		line-height: 115%;
	}

	p, li {
		// Type
		line-height: 160%;

		a {
			border-bottom: 1px solid transparent;
		}
	}

	ul,
	ol {
		padding-left: 30px;
	}

	img {
		box-shadow: 0 5px 20px black(0.1);
		border-radius: $border-radius;
		background: #fff;
	}

	figcaption {
		@extend .txt-small;
		// Type
		text-align: center;
	}
}

//---- Responsive ----//
