.content-styles {
	* + * {
		margin-top: 30px;
	}

	* + p {
		margin-top: 20px;
	}

	p, li {
		// Type
		line-height: 145%;
	}

	img {
		border: 5px solid map-get($ui-colors, 2_1);
		border-radius: $border-radius;
		background: #fff;
	}

	figcaption {
		@extend .txt-small;
		// Type
		text-align: center;
	}

}
