.overlap-img {
	width: 100%;
	padding: 60px;
	border-radius: $border-radius;
	background: map-get($ui-colors, 2_1);

	img {
		margin-bottom: -120px;
		box-shadow: 0 5px 30px black(0.2);
		border-radius: $border-radius / 2;
	}
}
