.site-banner__inner {
	@extend .section;
	@extend .section--large;
	max-height: 100vh;
	padding-top: 10.5%;
	padding-bottom: 10.5%;
	border-bottom: 2px solid map-get($ui-colors, 2_1);
}

.site-banner__content {
	@extend .section;
	@extend .section--small;
	@extend .section--full;
	// Type
	text-align: center;
}

* + .site-banner__title,
* + .site-banner__subtitle,
* + .site-banner__btn {
	margin-top: 30px;
}

.site-banner__subtitle {
	@extend .h3;
	// Type
	color: map-get($ui-colors, 2_2);
}

//---- Dark version
.site-banner--dark {
	background: map-get($ui-colors, 2);

	.site-banner__inner {
		border-bottom: none;
	}

	.site-banner__title {
		// Type
		color: #fff;
	}

	.site-banner__subtitle {
		// Type
		color: map-get($ui-colors, 2_3);
	}
}
