.site-cta {
	background-color: map-get($ui-colors, 2);
}

.site-cta__inner {
	@extend .spacing-huge;
	@extend .section;
	@extend .section--medium;
}

.site-cta__title {
	// Type
	color: #fff;
}

.site-cta__txt {
	@extend .txt-large;
	// Type
	color: white(0.5);
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, mobile_1) + 1) {
	.site-cta {
		padding-top: $slanted_offset;
		-webkit-clip-path: polygon(0 0, 100% #{$slanted_offset}, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% #{$slanted_offset}, 100% 100%, 0 100%);
	}

	.bg-slanted + .site-cta {
		margin-top: -#{$slanted_offset};
	}
}

@media screen and (max-width: map-get($breakpoints, mobile_1)) {
	.site-cta {
		padding-top: $slanted_offset_mobile;
		-webkit-clip-path: polygon(0 0, 100% #{$slanted_offset_mobile}, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% #{$slanted_offset_mobile}, 100% 100%, 0 100%);
		// Type
		text-align: center;
	}

	.bg-slanted + .site-cta {
		margin-top: -#{$slanted_offset_mobile};
	}
}
