.site-cta {
	background-color: map-get($ui-colors, 2);
	-webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}

.site-cta__inner {
	@extend .spacing-huge;
	@extend .section;
	@extend .section--medium;
}

.site-cta__title {
	// Type
	color: #fff;
}

.site-cta__txt {
	@extend .txt-large;
	// Type
	color: white(0.5);
}
