.site-header {
	padding-top: 100px;
}

.site-header__inner {
	@extend .section;
	@extend .section--large;
	@include flex(flex);
	@include flex_align_items(center);
}

.site-header__section--logo {
	@include flex_shrink(0);
}

.site-header__section--menu {
	margin-left: auto;
}

//---- Dark version
.site-scroll--inactive {
	.site-header--dark {
		.site-logo {
			// Type
			color: #fff;
		}

		.site-menu__link {
			// Type
			color: map-get($ui-colors, 2_3);
		}
	}
}
