.site-header {
	padding-top: 80px;
	background: #fff;
}

.site-header__inner {
	@extend .section;
	@extend .section--large;
	@include flex(flex);
	@include flex_align_items(center);
}

.site-header__section--logo {
	@include flex_shrink(0);
}

.site-header__section--menu {
	margin-left: auto;
}
