.site-header {
	@include transition(all ease $transition-speed);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: map-get($z-index, 2);
}

.js-active {
	&.site-scroll--active {
		.site-header {
			padding-top: 40px;
			padding-bottom: 40px;
			box-shadow: 0 2px 8px black(0.08);
			background: #fff;
		}
	}
}

//---- Responsive ----//
@media screen and (min-width: map-get($breakpoints, laptop_1) + 1) {
	.site-banner {
		padding-top: $header-height-dt;
	}
}

@media screen and (max-width: map-get($breakpoints, laptop_1)) and (min-width: map-get($breakpoints, tablet_1) + 1) {
	.site-banner {
		padding-top: $header-height-lt;
	}
}

@media screen and (max-width: map-get($breakpoints, tablet_1)) {
	.site-banner {
		padding-top: $header-height-tb1;
	}
}
