{% include header.html %}

<section class="section section--medium spacing-large">
	<div class="spacing-small-bottom">
		<div class="blog-preview">
			<figure class="blog-preview__thumb">
				<img src="http://placehold.it/1100x600">
			</figure>
			<div class="blog-preview__content">
				<h2 class="blog-preview__title">
					<a href="">
						Blog post title
					</a>
				</h2>
				<p class="blog-preview__meta">
					<a href="">Tips</a>
					<span class="blog-preview__meta-sep">/</span>
					7th September, 2015
				</p>
				<p>
					Getting SEO right is about more than just some well optimised title tags and publishing a blog post once a month. Climbing the search ladder takes time, effort and a lot of patience.
				</p>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
