{% include header.html %}

<section class="section section--small spacing-large">
	<form class="form form--contact anim anim-up anim-fade js-form-validate" name="contact" method="POST" action="/contact/success" netlify-honeypot="honey-for-badgers" netlify>
		<div class="form__inner">
			<div class="form__item">
				<label class="form__label">
					Name <span class="form__req">*</span>
				</label>
				<input class="form__field" type="text" name="name" required>
			</div>
			<div class="form__item">
				<label class="form__label">
					Email <span class="form__req">*</span>
				</label>
				<input class="form__field" type="email" name="email" required>
			</div>
			<div class="form__item">
				<label class="form__label">
					Subject <span class="form__req">*</span>
				</label>
				<input class="form__field" type="text" name="subject" required>
			</div>
			<div class="form__item">
				<label class="form__label">
					Budget <span class="form__label-note"></span>
				</label>
				<select class="form__item" name="budget">
					<option disabled selected>Please select...</option>
					<option>&pound;500 - &pound;1,500</option>
					<option>&pound;1,500 - &pound;3,000</option>
					<option>&pound;3,000 - &pound;5,000</option>
					<option>&pound;5,000 - &pound;10,000</option>
					<option>&pound;10,000+</option>
				</select>
			</div>
			<div class="form__item form__item--full">
				<label class="form__label">
					How Can I Help? <span class="form__req">*</span>
				</label>
				<textarea class="form__field" name="message" required></textarea>
			</div>
			<div class="form__action">
				<button>
					<span class="btn__inner">
						Send Message
					</span>
				</button>
			</div>
		</div>
	</form>
</section>

{% include footer.html %}
