{% include header.html %}

<section class="section section--small spacing-large">
	<form class="form form--contact" name="contact" method="POST" netlify>
		<div class="form__inner">
			<div class="form__item">
				<label class="form__label">
					Name
				</label>
				<input class="form__field" type="text" name="name">
			</div>
			<div class="form__item">
				<label class="form__label">
					Email
				</label>
				<input class="form__field" type="email" name="email">
			</div>
			<div class="form__item">
				<label class="form__label">
					Subject
				</label>
				<input class="form__field" type="text" name="subject">
			</div>
			<div class="form__item">
				<label class="form__label">
					Budget <span class="form__label-note"></span>
				</label>
				<select class="form__item">
					<option>£500 - £1,500</option>
					<option>1,500 - £3,000</option>
					<option>3,000 - £5,000</option>
					<option>5,000 - £10,000</option>
					<option>£10,000+</option>
				</select>
			</div>
			<div class="form__item form__item--full">
				<label class="form__label">
					How Can I Help?
				</label>
				<textarea class="form__field" name="message"></textarea>
			</div>
			<div class="form__action">
				<button>
					Send Message
				</button>
			</div>
		</div>
	</form>
</section>

{% include footer.html %}
