{% include header.html %}

<section class="site-banner">
	<div class="site-banner__inner">
		<figure class="site-banner__img">
			<img src="/assets/img/banner-headshot.jpg" srcset="/assets/img/banner-headshot.jpg 1x, /assets/img/banner-headshot-@2x.jpg 2x" alt="Seb Kay Headshot 2018">
		</figure>
		<div class="site-banner__content">
			<h1 class="site-banner__title">
				Hi, I'm Seb Kay
			</h1>

			<h2 class="site-banner__subtitle">
				I Design &amp; Build Websites
			</h2>

			<p class="site-banner__txt">
				I'm a web designer and front-end developer from Hampshire, UK. I build bespoke websites to help my clients push their businesses further online.
				<br><br>
				My expertise is in web design, WordPress development, eCommerce stores and SEO optimisation. If you'd like me to get involved with helping your business grow, I'm all ears!
			</p>

			<div class="site-banner__actions">
				<a class="btn" href="#">
					View My Work
				</a>
				<a class="btn btn--ghost" href="#">
					Contact Me
				</a>
			</div>
		</div>
	</div>
</section>

<section class="testimonial">
	<div class="testimonial__inner">
		<blockquote>
			<p>{{ site.data.testimonials[0].quote }}</p>
			<cite>
				<img src="{{ site.data.testimonials[0].img_1x_url }}" srcset="{{ site.data.testimonials[0].img_1x_url }} 1x, {{ site.data.testimonials[0].img_2x_url }} 2x">
				<span>
					{{ site.data.testimonials[0].by }}
				</span>
			</cite>
		</blockquote>
	</div>
</section>

<section class="section section--large spacing-large">
	<div class="txt-center spacing-medium-bottom">
		<h2>
			Featured Work
		</h2>
	</div>

	{% assign project = site.data.projects[0] %}

	{% include project-preview.html %}
</section>

<section class="bg-grey">
	<div class="section section--large spacing-large">
		<div class="txt-center spacing-medium-bottom">
			<h2>
				My Services
			</h2>
		</div>

		<div class="grid grid--spaced grid--tb2--1">
			{% for service in site.data.services %}
				<div class="grid__col grid__col--4 txt-center">
					<span class="icon {{ service.icon_class }}"></span>
					<br><br><br>
					<h3 class="h4">
						{{ service.title }}
					</h3>
					<br>
					<p class="txt-large">
						{{ service.tagline }}
					</p>
					<br>
					<div class="post-styles">
						<p>
							{{ service.excerpt }}
						</p>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="txt-center spacing-small-top">
			<a class="btn" href="/services">
				View All Services
			</a>
		</div>
	</div>
</section>

{% include footer.html %}
