{% include header.html %}

<section class="section section--medium spacing-huge">
	<div class="spacing-small-bottom">
		<h2 class="section-title">
			Features
		</h2>
	</div>

	<div class="grid">
		<div class="grid__col grid__col--6 txt-center">
			<div class="spacing-tiny-bottom">
				<span class="big-icon">
					{{ site.data.svgs[0].screen }}
				</span>
			</div>
			<div class="content-styles">
				<h3 class="h4">
					USP Title
				</h3>
				<p class="txt-large txt-dark">
					Subtitle of USP
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est leo, tempus in placerat a, elementum ac elit.
				</p>
			</div>
		</div>

		<div class="grid__col grid__col--6 txt-center">
			<div class="spacing-tiny-bottom">
				<span class="big-icon">
					{{ site.data.svgs[0].screen }}
				</span>
			</div>
			<div class="content-styles">
				<h3 class="h4">
					USP Title
				</h3>
				<p class="txt-large txt-dark">
					Subtitle of USP
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est leo, tempus in placerat a, elementum ac elit.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-grey bg-slanted">
	<div class="spacing-huge">
		<div class="section section--large spacing-large-bottom">
			<div class="grid">
				<div class="grid__col grid__col--7">
					<div class="content-styles">
						<img src="https://placehold.it/975x575">
					</div>
				</div>
				<div class="grid__col grid__col--5 grid__col--right grid__col--v-center">
					<div class="content-styles">
						<h2 class="h3">
							Feature Screenshot
						</h2>
						<p class="txt-large">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							<br><br>
							Vestibulum eleifend a massa nec condimentum. Vivamus et nunc consectetur, posuere lectus sit amet, lobortis ligula. Aliquam sagittis varius eros.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section section--large">
			<div class="grid grid--reverse">
				<div class="grid__col grid__col--7 grid__col--right">
					<div class="content-styles">
						<img src="https://placehold.it/975x575">
					</div>
				</div>
				<div class="grid__col grid__col--5 grid__col--v-center">
					<div class="content-styles">
						<h2 class="h3">
							Feature Screenshot
						</h2>
						<p class="txt-large">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							<br><br>
							Vestibulum eleifend a massa nec condimentum. Vivamus et nunc consectetur, posuere lectus sit amet, lobortis ligula. Aliquam sagittis varius eros.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="section section--medium spacing-huge">
	<div class="page-cta">
		<div class="content-styles">
			<h2>
				<span class="h4">
					Subtitle
				</span>
				<br>
				<span class="txt-highlight">
					CTA Title
				</span>
			</h2>
			<p class="txt-large">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt lacus vel condimentum imperdiet. Duis ultrices vehicula.
			</p>
			<a class="btn" href="">
				CTA Button
			</a>
		</div>
	</div>
</div>

{% include footer.html %}
