{% include header.html %}

{% assign project = false %}

{% for project_data in site.data.projects %}
	{% if project_data.title == page.title %}
		{% assign project = project_data %}
	{% endif %}
{% endfor %}

<section>
	<div class="section section--large spacing-huge-top">
		<figure class="browser">
			<div class="browser__actions">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="browser__inner">
				<img src="{{ project.full_preview }}" alt="{{ project.title }}">
			</div>
		</figure>
	</div>

	{% if project.sections[0].content or project.sections[0].title %}
		<div class="section section--small spacing-large-top">
			<div class="spacing-small-bottom">
				<h2 class="section-title">
					{{ project.sections[0].title }}
				</h2>
			</div>

			<div class="content-styles">
				<p class="txt-large">
					{{ project.sections[0].content }}
				</p>
			</div>
		</div>
	{% endif %}

	<div class="section section--large spacing-large-top">
		<div class="grid grid--tb1-2 grid--m-1">
			<div class="grid__col grid__col--4">
				<div class="content-styles">
					<img src="{{ project.images[0].content_1 }}" alt="">
				</div>
			</div>
			<div class="grid__col grid__col--4">
				<div class="content-styles">
					<img src="{{ project.images[0].content_2 }}" alt="">
				</div>
			</div>
			<div class="grid__col grid__col--4">
				<div class="content-styles">
					<img src="{{ project.images[0].content_3 }}" alt="">
				</div>
			</div>
		</div>
	</div>

	{% if project.sections[1].content or project.sections[1].title %}
		<div class="section section--small spacing-large-top">
			<div class="spacing-small-bottom">
				<h2 class="section-title">
					{{ project.sections[1].title }}
				</h2>
			</div>

			<div class="content-styles">
				<p class="txt-large">
					{{ project.sections[1].content }}
				</p>
			</div>
		</div>
	{% endif %}

	<div class="section section--large spacing-large-top">
		<div class="grid grid--tb1-2 grid--m-1">
			<div class="grid__col grid__col--4">
				<div class="content-styles">
					<img src="{{ project.images[0].content_4 }}" alt="">
				</div>
			</div>
			<div class="grid__col grid__col--4">
				<div class="content-styles">
					<img src="{{ project.images[0].content_5 }}" alt="">
				</div>
			</div>
			<div class="grid__col grid__col--4">
				<div class="content-styles">
					<img src="{{ project.images[0].content_6 }}" alt="">
				</div>
			</div>
		</div>
	</div>

	{% if project.live_url %}
		<div class="section section--small spacing-large-top">
			<div class="txt-center">
				<a class="btn btn--large" href="{{ project.live_url }}" target="_blank">
					Visit Website
				</a>
			</div>
		</div>
	{% endif %}
</section>

<div class="spacing-huge-top"></div>

{% assign testimonial = site.data.testimonials[project.testimonial_id] %}
{% include testimonial.html %}

{% include footer.html %}
