{% include header.html %}

{% assign project = false %}

{% for project_data in site.data.projects %}
	{% if project_data.title == page.title %}
		{% assign project = project_data %}
	{% endif %}
{% endfor %}

<section>
	<div class="section section--large spacing-huge-top">
		<figure class="browser">
			<div class="browser__actions">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="browser__inner">
				<a href="{{ project.url }}">
					<img src="{{ project.full_preview }}">
				</a>
			</div>
		</figure>
	</div>

	<div class="section section--medium spacing-large-top">
		<div class="spacing-small-bottom">
			<h2 class="section-title">
				The Brief
			</h2>
		</div>

		<div class="content-styles">
			{{ page.sections[0] }}
		</div>
	</div>

	<div class="section section--large spacing-large-top">
		<div class="grid grid--m-1">
			<div class="grid__col grid__col--6">
				<div class="content-styles">
					<img src="{{ page.img_1_url }}">
				</div>
			</div>

			<div class="grid__col grid__col--6">
				<div class="content-styles">
					<img src="{{ page.img_2_url }}">
				</div>
			</div>
		</div>
	</div>

	<div class="section section--medium spacing-large-top">
		<div class="spacing-small-bottom">
			<h2 class="section-title">
				The Result
			</h2>
		</div>

		<div class="content-styles">
			{{ page.sections[1] }}
		</div>
	</div>

	<div class="section section--large spacing-large-top">
		<div class="grid grid--m-1">
			<div class="grid__col grid__col--6">
				<div class="content-styles">
					<img src="{{ page.img_3_url }}">
				</div>
			</div>

			<div class="grid__col grid__col--6">
				<div class="content-styles">
					<img src="{{ page.img_4_url }}">
				</div>
			</div>
		</div>
	</div>
</section>

<div class="spacing-large-top"></div>

{% assign testimonial = site.data.testimonials[page.testimonial_id] %}
{% include testimonial.html %}

{% include footer.html %}
