{% include header.html %}

<section class="section section--large">
	<div class="spacing-small-top">
		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>
	</div>

	<div class="spacing-small-top">
		<p>Lorem <strong>ipsum</strong> <em>dolor</em> sit amet, consectetur adipiscing elit. In nisl neque, blandit sed erat sit amet, volutpat varius velit. Aliquam eget ipsum dignissim, eleifend urna nec, congue purus. Duis gravida vulputate ligula at facilisis. Aliquam eu leo finibus, dictum turpis ac, hendrerit quam. Phasellus bibendum lorem dapibus sem laoreet consectetur. Proin faucibus, nulla viverra volutpat luctus, diam sem sodales urna, nec porta ligula ante id ex. Nullam tristique finibus nisl, sed mattis tellus ultrices quis.</p>
	</div>

	<div class="spacing-small-top">
		<ul>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
		</ul>
		<ol>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
		</ol>
	</div>

	<div class="spacing-small-top">
		<a class="btn" href="#">
			Button (Default)
		</a>
		<a class="btn btn--large" href="#">
			Button (Large)
		</a>
	</div>
</section>

{% include footer.html %}
